@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>NSprockets Test</title>
        @Html.Raw(@NSprockets.NSprocketsTool.Current.GetScriptFileDeclaration("application.js"))
    </head>
    <body>
        <h1>NSprockets Test</h1>
        <ul>
            <li>
            If you want to change default values use GlobalApplication.Application_Start and NSprocketsTool.Current to change its parameters.
            </li>
        </ul>
    </body>
</html>